/* Importar Tailwind CSS */
@import 'tailwindcss';

/* Importar el tema de Angular Material que elegiste */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 

/* Consolidar los estilos globales para evitar redundancia y conflictos */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* Elige una de las fuentes para evitar conflictos */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}